{% extends "layout.html" %}
{% block slider %}
{% endblock %}
{% block body %}
{% load staticfiles %}
	<section id="ListIntems">
		<h1>List of your ShopingCart</h1>
		</section>
		
	{% for cart in carts %}
		<section id="containerRow">
			<section id="containerCol">
				<article id="productAvatar">
					<a href="/shop/shopingDelItem/{{cart.pk}}"><p class="delItem">Treure</p></a>
					<a href="/shop/{{cart.product.pk}}/detailProduct">
					
						{% if cart.product.img %} 
							<img src='{{ cart.product.img.url }}' width="150px" height="150px" alt="imatge del producte"/> 
						{% endif %}
					
					</a>
				</article>
				<article id="description">
					<p><h1>Nom del article:{{ cart.product.name }}</h1></p>
					<p id="color">color:{{cart.color}}</p>
					<p id="size">size:{{cart.size}}</p>
					
					<p>Preu per unitat:{{cart.product.price}}€ *
					   Total unitats:<input onclick="update_shoping_list({{cart.product.pk}},{{cart.total}},'{{cart.size}}','{{cart.color}}',this)" type="number" id="q{{cart.product.pk}}" value="{{cart.total}}" size="5"> = 
					   <span id="p{{cart.product.pk}}">{{cart.price}}€</span>
					</p>
        		</article>
            	
		</section>
	</section>
	{% endfor %}
		<article class="globalOpt"><a href="/shop/delAllListShoping"><input type="button" value="Delete All" /></a></article>
		<article class="globalOpt"><a href="/shop/pdfView/"><input type="button" value="Get receipt on PDF" /></a></article>
		<section id="goBuy"><input type="button" value="Go to the pay!" /></section>
		<script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
		<script src="{% static "js/shopingCart/updateShopingList.js" %}"></script>

	<!--
	<script>
	$(document).ready(function(){
		var list ={{list|safe}};
		var total = 0;
		console.log(list);
		$.each(list,function(key,val){
			console.log(val.pk);
			$("#q"+val.pk).val(val.fields.total);
			$("#p"+val.pk).html(val.fields.price+"€");
			total = total+val.fields.price;
		});
		$("#goBuy").prepend("Total a pagar = "+total+"€ ");
	});
	</script>
	-->
{% endblock %}
