#title{
    color:white;
    font-size:2em;
    display:block;
    float:left;
    padding:10px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    }
    #title a{
        text-decoration: none;
        color:white;
    }

#navlist {
    border: 0;
    margin: 0;
    display:block;
    padding: 0;
	float:left;
    list-style-type: none;
 
}

#navlist li {
    display: inline;
    font-size:1em;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

#navlist li a {
    border-right: none;
    padding: 0;
    color: #f5d7b4;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    -webkit-transition:0.2s;
    -transition:0.2s;
}

#navlist li a:hover {
    color: #930;
    background: #f5d7b4;
}
#main{
  position: relative;
  margin: 0;
  margin-top:200px;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
header{
	display:block;
	width:100%;
	background-color: black;
	height:50px;
}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
