{% load staticfiles %}
#title{
    color:white;
    font-size:2em;
    display:block;
    float:left;
    padding:10px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    }
    #title a{
        text-decoration: none;
        color:white;
    }

#navlist {
    border: 0;
    margin: 0;
    display:block;
    padding: 0;
	float:left;
    list-style-type: none;
 
}

#navlist li {
    display: inline;
    font-size:1em;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

#navlist li a {
    border-right: none;
    padding: 0;
    color:white;
    background:rgb(29, 55, 80);
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    -webkit-transition:0.2s;
    -transition:0.2s;
    -moz-transition:0.2s;
}

#navlist li a:hover {
    color: white;
    font-weight:bold;
    background:rgb(74, 124, 173);
}
#main{
  margin-top:3em;
  display:block;
  min-width:80%;
  background-color:rgba(42, 77, 110,0.5);
  width:80%;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-left:auto;
  margin-right:auto;

 }
#containerCol{
    display:flex;
    width:100%;
    flex-direction:columns;
    flex-wrap:wrap;
    justify-content:flex-start;

    }#containerCol .products{
        color:white;
        font-weight:bold;
        border-style:groove;
        list-style-type: none;
        font:font-family: "Helvetica Neue", Arial, sans-serif;
        font-size:1em;
        text-align:center;
        display:block;
        width:150px;
        height:auto;
        -webkit-transition:0.2s;
        margin-left:10px;
        -moz-transition:0.2s;
        -transition:0.2s;
        background-color:rgb(57, 99, 140);

    }#containerCol .products:hover{

        background-color:rgb(74, 124, 173);
        color:white;
        font-weight:bold;
    }#container .products{
        diaplay:inline;
        text-decoration:none;

        }#containerRow .products p{

            padding:0;
            top:0;
        }.products p.price{
            color:rgba(0,255,0,0.4);
            background-color:rgba(175, 189, 212,0.4);
            font-size:1em;
        }
header{
	display:block;
	position:relative;
	width:80%;
	background-color:rgb(17, 34, 50);
	/*background:url('../uploads/images/layout/header.jpg');*/
	height:50px;
	margin-left:auto;
    margin-right:auto;
}
footer{
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width:80%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
.category{
	color:white;
    font-size:1.5em;
    display:block;
    float:left;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:10px;
    width:100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background:rgba(0,0,0,0.5);
}
body{
	background:url('../uploads/images/layout/header.jpg');
	background-repeat:no-repeat;
	background-size:100%;
}
