{% load staticfiles %}
#title{
    color:white;
    font-size:2em;
    display:block;
    float:left;
    padding:10px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    }
    #title a{
        text-decoration: none;
        color:white;
    }

#navlist {
    border: 0;
    margin: 0;
    display:block;
    padding: 0;
	float:left;
    list-style-type: none;
 
}

#navlist li {
    display: inline;
    font-size:1em;
    float: left;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

#navlist li{
    border-right: none;
    padding: 0;
    color:white;
    background:rgb(29, 55, 80);
    margin-left:1em;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    -webkit-transition:0.2s;
    -transition:0.2s;
    -moz-transition:0.2s;
}

#navlist li:hover {
    color: white;
    background:rgb(74, 124, 173);
}
#main{
  margin-top:3em;
  display:block;
  min-width:80%;
  min-height:100%;
  background-color:rgba(42, 77, 110,0.5);
  width:80%;
  padding-bottom: 6rem;
  min-height: 700px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-left:auto;
  margin-right:auto;

 }
 
header{
	display:block;
	position:relative;
	width:80%;
	background-color:rgb(17, 34, 50);
	/*background:url('../uploads/images/layout/header.jpg');*/
	height:50px;
	margin-left:auto;
    margin-right:auto;
	
	}#register{
		float:right;
		padding-right:10px;
		font-family: "Helvetica Neue", Arial, sans-serif;
		display:block;
		font-size:0.8em;
		color:white;
		font-weight:bold;
	}#register a{
		color:white;
	}#logoCart{
		background-image:url("../uploads/images/layout/cartlogo.png");
		background-repeat:no-repeat;
		width:25px;
		height:25px;
		float:left;
		margin-right:10px;
		background-size:25px 25px;
	}
footer{
  position:static;
  right: 0;
  bottom: 0;
  left: 0;
  width:80%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

body{
	/*background-color:rgba(42, 79, 110,0.5);*/
	background-image:url('../uploads/images/layout/header.jpg');
	background-repeat:no-repeat;
	background-size:
	background-repeat:no-repeat;
	background-size:80% 100%;
	background-position: center;
	min-height:900px;
	

}

/**PRODUCTES*/
 .category{
	color:white;
    font-size:1.5em;
    display:block;
    float:left;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:10px;
    margin-top:10px;
    width:100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background:rgba(0,0,0,0.5);
	}.category a{
		color:white;
		text-decoration:none;
	}
#containerCol{
    display:flex;
    width:100%;
    flex-direction:columns;
    flex-wrap:wrap;
    justify-content:flex-start;

    }#containerCol .products{
        color:white;
        font-weight:bold;
        border-style:groove;
        list-style-type: none;
        font:font-family: "Helvetica Neue", Arial, sans-serif;
        font-size:1em;
        text-align:center;
        display:block;
        width:150px;
        height:auto;
        margin-left:10px;
		-webkit-transition:0.3s;
		-moz-webkit-transition:0.3s;
        background-color:rgba(57, 99, 140,0.5);
	}#containerCol .products a{
		color:white;
    }#containerCol .products:hover{
        background-color:rgba(74, 124, 173,0.5);
        color:white;
        font-weight:bold;
    }#container .products{
        diaplay:inline;
        text-decoration:none;

        }#containerRow .products p{

            padding:0;
            top:0;
        }.products p.price{
            color:rgba(0,255,0,0.4);
            background-color:rgba(175, 189, 212,0.4);
            font-size:1em;
        }
#detailProduct{
	    color:white;
        font-weight:bold;
        border-style:groove;
        list-style-type: none;
        font:font-family: "Helvetica Neue", Arial, sans-serif;
        font-size:1em;
        text-align:center;
        display:inline;
        width:300px;
        height:auto;
        -webkit-transition:0.2s;
        margin-left:10px;
        float:left;
        -moz-transition:0.2s;
        -transition:0.2s;
        background-color:rgb(57, 99, 140);
		}#detailProduct p{
	        padding:0;
            top:0;	
		}#detailProduct .title p{
			color:white;
			text-decoration:underline;
    		font-size:1.5em;
		}
		
/*Estils del menu de categrories del nav del Header Principal*/
.MenuFather{
	
}
.MenuChilds{

	display:block;
	float:bottom;
	position:absolute;
	margin-top:10px;
	color:white;
	z-index:10;
	width:150px;
	text-align:left;
	height:auto;
	}

ul.MenuChilds li a{
	display:block;
	background-color:rgb('115, 136, 168');
	color:white;
	float:bottom;
	width:200px;
	-webkit-transform:0.3s;
	-moz-webkit-transform:0.3s;
}.MenuChilds a:hover{
	height:auto;
}
