.addToCash{
	color:white;
	margin-left:10px;
	padding:0.5em;
	}
#addCart{
	background-color:rgba(73, 146, 115,0.5);
	position:relative;
	
	display:inline;
	background-size:auto;
	padding:0.5em;
	border:dashed;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
}#addCart:hover{
	background-color:rgba(213, 234, 225,0.5);
	
}
.itemsCart{
	color:white;
	background-color:red;
	bottom:0px;
}

	}#productAvatar{
        color:white;
        font-weight:bold;
        border-style:groove;
        list-style-type: none;
        font:font-family: "Helvetica Neue", Arial, sans-serif;
        font-size:1em;
        text-align:center;
        display:block;
    	width:auto;
    	flex-direction:columns;
    	flex-wrap:wrap;
    	justify-content:flex-start;
        height:auto;
        margin-left:10px;
		-webkit-transition:0.3s;
		-moz-webkit-transition:0.3s;
        background-color:rgba(57, 99, 140,0.5);
	}#description{
 		color:white;
        font-weight:bold;
        border-style:groove;
        list-style-type: none;
        font:font-family: "Helvetica Neue", Arial, sans-serif;
        font-size:1em;
        text-align:center;
        display:block;
    	width:auto;
    	flex-direction:columns;
    	flex-wrap:wrap;
    	justify-content:flex-start;
        height:auto;
        margin-left:10px;
		-webkit-transition:0.3s;
		-moz-webkit-transition:0.3s;
        background-color:rgba(57, 99, 140,0.5);
	}#containerRowa #productAvatar a{
		color:white;
    }#containerRowa .productAvatar:hover{
        background-color:rgba(74, 124, 173,0.5);
        color:white;
        font-weight:bold;
}
.delItem{
	background-color:rgba(225, 234, 213,0.5);
	display:block;
	background-size:auto;
	padding:0.5em;
	border:dashed;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;	
}.delItem:hover{
	background-color:rgba(255, 255, 225,0.5);
}.globalOpt{
	font-size:1,8em;
	float:left;
	background-color:rgba(255, 255, 255, 0.5)
}.globalOpt input{
	padding:0.5em;
	border:solid;
	color:white;
	float:left;
	background-color:rgba(77, 100, 141,0.5);
	font-size:1,8em;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
}.globalOpt input:hover{
	background-color:rgba(255, 255, 255,0.5);
}
}#goBuy{
	font-size:1,8em;
	float:left;
	background-color:rgba(255, 255, 255, 0.5);
}#goBuy input{
	padding:0.5em;
	border:solid;
	color:white;
	background-color:rgba(77, 100, 141,0.5);
	float:left;
	font-size:1,8em;
	-webkit-transition:0.2s;
	-moz-transition:0.2s;
}#goBuy input:hover{
	background-color:rgba(255, 255, 255,0.5);
}