<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>OnlyMyFriends</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/jssor.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/customer.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/product.css" %}">
</head>
<header>
	{% block header %}
        <div id="title"><a href="/">OnlyMyFriends</a></div>
		<div id="navlist">
			<ul class='MenuFather' id="MenuFather">
			{% for category in categories %}
				<li id="menu{{category.pk}}" value="{{category.pk}}"> <!--<a href="/shop/category/{{category.pk}}">-->{{category.name}}<!--</a>--></li>
			{% endfor %}
			</ul>
		</div>
		<div id="register">
		{% block register %}
			<p>
				{% if user.is_authenticated %}
					<article id="logoCart"><span class="itemsCart"> </span>
					</article>
					Wellcome {{ user.username }}!<a href="/shop/logout/"> Logout</a>
				{% else %}
					<a href="/shop/register/">Register&nbsp;</a><a href="/shop/login/">Login</a>
				{% endif %}
			</p>
		{% endblock %}
		</div>
	{% endblock %}
</header>

<body>
<div id="main">
	{% block slider %}
		<div id="slider1_container" style="position:relative; top: 10px; left: 0px; width:300px;display:inline;
        height:150px; overflow: hidden; display:block;">
    
        <!-- Loading Screen 
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>
        
		Slides Container -->
        	<div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width:300px; height: 150px; overflow: hidden;">
        	{% for slider in sliders %}
            	<div>
                	<a u=image href="#"><img src="{{slider.img.url}}" /></a>
                	<div u=caption t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:150px; height:30px;"> 
                {{slider.title}}
                </div>
            </div>
            {% endfor %}
            
	        </div>
	        <div u="navigator" class="jssorb01" style="bottom: 16px; left: 10px;">
	            <!-- bullet navigator item prototype -->
	            <div u="prototype"></div>
	        </div>
	        <span u="arrowleft" class="jssora05l" style="top: 123px; left: 8px;"></span>
	        <!-- Arrow Right -->
	        <span u="arrowright" class="jssora05r" style="top: 123px; right: 8px;"></span>
	        <a style="display: none" href="http://www.jssor.com">Image Slider</a>
		</div>
	{% endblock %}
		{% block body %}
		<div id="prova">
			
		</div>
		{% endblock %}
</div>

</body>
<footer>
	{% block footer%}
		<div id="prova">Manresa CP:08294 telf:60454675 </div>
	{% endblock %}
</footer>
<script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
<script src="{% static "js/jssor/jssor.js" %}"></script>
<script src="{% static "js/jssor/jssor.slider.js" %}"></script>
<script src="{% static "js/productes/getSubcategory.js" %}"></script>
<script src="{% static "js/productes/addToShopingCart.js"%}"></script>
<script src="{% static "js/jssor/FuncioSliderLayout.js" %}"></script>
{% if user.is_authenticated %}
	<script src="{% static "js/shopingCart/cartLogoRefresh.js" %}"></script>
{% endif %}


</html>
